hr {
    border-style: hidden;
    border-top-style: dotted;
    border-bottom: none;
    border-color: rgb(60, 61, 62);
    width: 15%;
    border-width: 5px;
    background: url("a.jpg");
    background-color: white;
}
body {
    background-image: url("a.jpg");
    background-size: 100% 100%;
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
}
table:hover{
    color:blue;
}
.aa:hover{
    color:blue;
}

